body {
    background-color: #343a40;
    margin: 100px 0;
}

body > div {
    text-align: center;
    color: #e98208;
    margin: 0 20%;
}

div {
    margin: 10px;
}

.name {
    font-size: 45px;
}
.clock {
    font-size: 60px;
}
.text {
    font-size: 30px;
}